#charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
} 
body {
    background-image: linear-gradient(to right, #F2E2C4, #F2A679 );
}
main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 15px 10px #BF6A4B;
    width: 600px;  
    padding: 10px;
    margin: auto;
}
h1 { 
    color: #A60A27;
    text-align: center;  
    text-shadow: 1px 1px 0px #bf6a4b41(0, 0, 0, 0.178);
}
h2 {
    color: #060826;
}

p {
    text-align: justify;
}
